# Vite generated folder
# ----------------------

/assets/bundle

# Modules folder
# ----------------------

node_modules
vendor

# Miscellaneous
# ----------------------

*.zip
*.rar
*.psd
*.indd
*.ai
.env
.DS_Store